.app {
  background-color: #4973f2;
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
  width: 85%;
  margin-bottom: 2rem;
}

.app h2 {
  margin-bottom: 2rem;
}

.app h2:after {
  background-color: #f2911b;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 35%;
  margin-left: 1rem;
}

.app img {
  height: 12rem;
  width: 16rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 1.2rem;
}

.projectList p {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 0.3rem;
}

.projectList a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.projects a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000000;
}

.btn a {
  background-color: #1b2040;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 3rem;
  padding: 1rem;
}

.btn:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
