.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }
}
